<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212216855850-fu3h11o94ufu8jgfa76ik9jo6e9tl8sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212216855850-fu3h11o94ufu8jgfa76ik9jo6e9tl8sb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>212216855850-jhnseaotlcha5eb93smb4r16oq4q6atj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSzq7FkOCb7wKJRz1PKgWtvwhv-6CHwig</string>
	<key>GCM_SENDER_ID</key>
	<string>212216855850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.boardcommenttest</string>
	<key>PROJECT_ID</key>
	<string>boardcommenttest</string>
	<key>STORAGE_BUCKET</key>
	<string>boardcommenttest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212216855850:ios:c2c39abb9e2b8bd99c3253</string>
</dict>
</plist>